header{
    z-index: 1;
    position: sticky;
    width: 100%;
    opacity:0;
    transition:all 1s;
    transition-delay: 5s;


    &:hover{
        opacity: 1;
        transition-delay: .2s;
    }

    .header{
        width: 80%;
        display: flex;
        margin: 0 auto;
        .logo{
            display: inline-flex;
            padding: 1.5vh 0;
            img{
            width: 3vw;
        margin: 0 .8vw; }
            
            h2{
                font-size:2.5vw;
                font-weight: 300;
                display: inline-block;
                align-self: center;
            }
        }  

        .menuClickable{
            align-items: center;
            cursor: pointer;
            display: inline;
            align-self: center;
            position: absolute;
            right: 11vw;
            z-index: 1;

            .bar1, .bar2, .bar3 {
                width: 35px;
                height: 5px;
                background-color: #fff;
                margin: 6px 0;
                transition: 0.4s;
            }


            .clicked .bar1{
                transform: rotate(-45deg) translate(-9px, 6px);
            }

            .clicked .bar2{
                opacity: 0;

            }

            .clicked .bar3{
                transform: rotate(45deg) translate(-8px, -8px);
            }


        }
        
}
    
}




